<h1>New places</h1>

<% form_for(@place) do |f| %>
  <%= f.error_messages %>

	<%= render :partial => "form", :locals => {:f => f} %>
  <p>
	<%= link_to_function "Upload!", "upload(); return false" %>
    <%# f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', places_path %>
